.pay-info-container {
  background-color: #f0f8ff;
  border-radius: 16px;
  padding: 1rem;
}

.pay-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25rem;
}

.pay-info.total {
  background-color: #ffc72c;
  padding: 0.5rem 0.25rem;
  border-radius: 8px;
}

.total-price {
  width: 100%;
  display: flex;
  margin: 0.5rem 0 2rem 0;
}

.decrease-cost {
  width: 100%;
  text-align: right;
  padding: 0.25rem;
  border: none;
}

.checkbox {
  height: 25px;
  width: 25px;
  background-color: #9e1010;
}

.pay-info-button {
  width: 100%;
  background-color: #9e1010;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  color: #fff;
  margin-top: 0.25rem;
}
